:root {
    --color-twitch-purple-1: #212126;   
}

.tw-root--theme-dark .chat-room,
.tw-root--theme-dark body {
    background-color: var(--color-twitch-purple-1);
}

.tw-root--theme-dark .side-nav {
    border-right: 1px solid #000000;
}

.tw-root--theme-dark .right-column {
    border-left: 1px solid #000000;
}
